<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Website {% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.3/dist/htmx.min.js"></script>

    <link rel="stylesheet" href="{{ request.static_url('loby:static/style.css') }}">

    <!-- Additional CSS -->
    {% block styles %}
    <style>
        /* Custom styles */
    </style>
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class=" shadow-md">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900 font-bold">Logo</a>
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/" class="py-5 px-3 text-primary hover:text-accent">Home</a>
                        <a href="/login" class="py-5 px-3 text-primary hover:text-accent">Login</a>
                        <a href="/about" class="py-5 px-3 text-primary hover:text-accent">About</a>
                        <a href="/contact" class="py-5 px-3 text-primary hover:text-accent">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        <div class="max-w-6xl mx-auto px-4 py-6">
        {% if request.session.peek_flash() %}
            <div>
                {% for message in request.session.pop_flash() %}
                    <center><h1>{{ message }}</h1></center>
                {% endfor %}
            </div>
        {% endif %}
            {% block content %}
            <!-- Content will go here -->
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-gray-200">
        <div class="max-w-6xl mx-auto px-4 py-6">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-white">Footer Content</h1>
                    <p class="text-gray-400">Some text about the footer.</p>
                </div>
                <div>
                    <h5 class="text-white">Links</h5>
                    <ul class="list-none">
                        <li><a class="text-gray-400 hover:text-gray-100" href="/">Home</a></li>
                        <li><a class="text-gray-400 hover:text-gray-100" href="/about">About</a></li>
                        <li><a class="text-gray-400 hover:text-gray-100" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    <!-- Tailwind does not require JavaScript, but any additional JS can go here -->
    {% endblock %}
</body>
</html>
