{% extends "../index.html" %}

{% block title %}{{ 'Edit User' if user else 'Create User' }}{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-xl font-semibold mb-4">{{ 'Edit User' if user else 'Create User' }}</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form method="POST" action="{{ request.route_url('admin.user.edit', user_id=user.id) if user else request.route_url('admin.user.create') }}">
            {% if errors %}
            <ul class="errors mb-4">
                {% for field, error in errors.items() %}
                <li class="text-red-500 text-sm">{{ field }}: {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input id="user_name" name="user_name" type="text" value="{{ user.user_name if user else '' }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    E-mail
                </label>
                <input id="email" name="email" type="email" value="{{ user.email if user else '' }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input id="password" name="password" type="password"  autocomplete="new-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" {% if not user %} required {% endif %}>
                {% if user %}
                <p class="text-gray-600 text-xs italic">Leave blank if you don't want to change the password</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="verified">
                    Verified
                </label>
                <select id="verified" name="verified" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="true" {% if user and user.verified %} selected {% endif %}>Verified</option>
                    <option value="false" {% if user and not user.verified %} selected {% endif %}>Unverified</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    {{ 'Update' if user else 'Create' }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
